# Full reference: https://docs.airplane.dev/tasks/task-definition
slug: demo_search_users
name: Search users
description: "Search for users in prod based on team and user info"
parameters:
  - slug: query
    name: Query
    type: shorttext
    default: ""
sql:
  resource: "[Demo DB]"
  entrypoint: search_users.sql
  queryArgs:
    search: "%{{params.query}}%"
